{% extends 'administrator/base.html'%}

{% load static %}

{% block title %} Deposit Funds {% endblock %}

{% block header %} Deposit Funds {% endblock %}

{% block content %}

{% for message in messages %}
    {{message | safe}}
{% endfor %}
<section style="background-color:rgb(194, 192, 192);">
    <div class="container py-5">
        <form action="{% url 'wallet_deposit' %}" method="post" class="w-50">
              {% csrf_token %}

            <div class="form-outline mb-4">
              <input type="text" id="username" name="username" class="form-control" placeholder="Username" required/>
            </div>
            <div class="form-outline mb-4">
              <input type="number" id="amount" name="amount" min="1.00" class="form-control" placeholder="Amount($)" required/>
            </div>
            <div class="pt-1 mb-5 pb-1">
              <button class="btn btn-primary btn-lg rounded-2" type="submit">Add</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}