{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for message in messages %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>    
            swal(" {{ message }}");
    </script>
{% endfor %}
 
<div class="well well-lg " >
    
        <center>
            <div class="col-sm-12" id="login">
                <h3 class="mb-4 text-center">Login</h3>
                <form action="{% url 'login' %}" method="post" >
                  {% csrf_token %}  
                  <div class="form-group">
                        <input name="username" type="text" class="form-control" placeholder="Username" required>
                    </div>
              <div class="form-group">
                <input name="password" id="password-field" type="password" class="form-control" placeholder="Password" required>                          
              </div>
              <div class="text-center" style="margin-bottom: 20px;" >	            	
                  <a href="#" style="color:black">Forgot Password</a>							
              </div>
              <div class="form-group">
                  <button type="submit" class="form-control btn btn-primary submit px-3"
                  style="border-radius: 25px;"
                  >Sign In</button>
              </div>
              <div class="text-center">                  
                  <p>Not a member ? <a href="#" data-toggle="modal" data-target="#changeProfile">Register</a></p>
              </div>
            </form>
            </div>
        </center>
    </div>

{% include 'login/register_modal.html'%}
{% endblock %}