{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'eo_officers/slidebar.html' %}
<div class="container" style="margin-top: 20px;">    
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h5><u>{{ name }}</u></h5>
        <table class="table  table-hover">
            <thead>
              <tr>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Status</th>
                <th scope="col">Date Requested </th>
              </tr>
            </thead>
            <tbody>
            {% for list in items %}  
                    <tr>                 
                        <td>{{ list.category }}</td>
                        <td>{{ list.description }}</td>
                        <td>{{ list.quantity }}</td>
                        <td>{{ list.status }}</td>
                        <td>{{ list.date }}</td>
                        <td align="right" style="width: 150px;">                            
                            <a href="{% url 'edit-items' list.id %}"class="btn btn-outline-success btn-sm" 
                            >Edit</a>
                            <a href="{% url 'delete-item' list.id %}"class="btn btn-outline-danger btn-sm" 
                            >Delete</a>
                        </td>
                    </tr> 
            {% endfor %}             
            </tbody>
          </table>
    </div>
</div>
{% endblock %}