
<!-- Modal -->
<div class="modal fade" id="changeProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Profile </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="settings_container" class="container" >

          <div  class="col-sm-12 shadow p-3 mb-5 bg-white rounded">
            <center><h4><u>Personal Details</u></h4></center>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">         
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your name">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Surname</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your surname">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Ward</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your ward">
              </div>
          </div>
        
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>