{% extends 'base.html' %} 

{% block content %} 
{% include 'admindash/slidebar.html' %}
<div class="container-fluid px-4"  id="adimdash">
                <div class="row g-3 my-2">
                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">{{ comments }}</h3>
                                <p class="fs-5">Comments</p>
                            </div>
                            <i class="fas fa-comment-dots fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">{{ participants }}</h3>
                                <p class="fs-5">Participants</p>
                            </div>
                            <i class="fas fa-users fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2"> {{ users }}</h3>
                                <p class="fs-5">Users</p>
                            </div>
                            <i class="fas fa-users fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">{{ project }}</h3>
                                <p class="fs-5">Projects</p>
                            </div>
                            <i class="fas fa-project-diagram fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>
                </div>

                

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>
    {% endblock %} 

    