{% extends 'base.html' %} 

{% block content %} 
{% include 'admindash/slidebar.html' %}
<div class="container-fluid px-4" >
    <table class="table  table-hover">
        <thead>
          <tr>
            <th scope="col">EO's Name</th>            
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>            
            <th scope="col">Date Requested </th>
          </tr>
        </thead>
        <tbody>
        {% for list in items %}  
                <tr>  
                    <td>{{ list.username }}</td>
                    <td>{{ list.description }}</td>
                    <td>{{ list.quantity }}</td>                    
                    <td>{{ list.date }}</td>
                    <td align="right" style="width: 200px;">                            
                        <a href="{% url 'item-approved' list.id %}"class="btn btn-outline-success btn-sm" 
                        >Approve</a>
                        <a href="{% url 'denied-item' list.id %}"class="btn btn-outline-danger btn-sm" 
                        >Decline</a>
                    </td>
                </tr> 
        {% endfor %}             
        </tbody>
      </table>          
    </div>
    {% endblock %} 

    