{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'users/slidebar.html' %}
<div class=" container" style="margin-left: 20px;">    
</div>
  <div class="row">    
    <div class="col-sm-12 col-md-12 col-lg-6" id="rates" >
      <table class="table table-hover" >
        <tr>
            <th>Rates</th>
            <th></th>
            
        </tr>
        {% for tarrif_list in tarrifs %}
              
              <tr>
                  <td>            
                      <a href="{% url 'user-comments' tarrif_list.id %} " >{{ tarrif_list.name }}</a>                      
                      <br/>
                  </td>
                  
                </tr>
            
        {% endfor %}
      </table>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5"style="margin-left: 10px;">
      <table class="table table-hover" >
        <tr>
            <th>Projects</th>
            
        </tr>
        {% for project_list in projects %}
            <tr>
                <td>            
                    <a href="{% url 'projects-comments' project_list.id %} " >{{ project_list.name }}</a>
                    <br/>
                </td> 
                
              </tr>    
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}