<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="images/HIT_logo.png" />
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
</head>
<body>

    <!-- Start Main Content-->
    <main>
      <section class="h-100 gradient-form bg-image">
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                  <div class="row g-0">
                    <div class="col-lg-6">
                      <div class="card-body p-md-5 mx-md-4">

                        <div class="text-center">
                          <img src="{% static 'images/HIT_logo.png'%}" style="width: 185px;" alt="logo">
                          <h4 class="mt-3 mb-5 pb-1">HIT Canteen</h4>
                        </div>

                        <form action="{% url 'register' %}" method="post">
                          {% csrf_token %}

                          <p>Sign up with HIT Canteen</p>

                          {% for message in messages %}
                                {{message | safe}}
                          {% endfor %}

                          <div class="form-outline mb-4">
                            <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" required/>
                          </div>

                          <div class="form-outline mb-4">
                            <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" required/>
                          </div>

                          <div class="form-outline mb-4">
                            <input type="text" id="username" name="username" class="form-control" placeholder="Username (use your student registration number)" required/>
                          </div>

                          <div class="form-outline mb-4">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email" required/>
                          </div>

                          <div class="form-outline mb-4">
                            <input type="password" id="password1" name="password1" class="form-control" minlength="8" placeholder="New Password"required/>
                          </div>

                          <div class="form-outline mb-4">
                            <input type="password" id="password2" name="password2" class="form-control" placeholder="Re-enter Password" required/>
                          </div>

                          <div class="form-outline mb-4">
                            <label>Gender</label><br/>
                            <input type="radio" class="mx-1" name="gender" id="male" value="Male"/><label>Male</label>
                            <input type="radio" class="mx-1" name="gender" id="female" value="Female"/><label>Female</label>
                            <input type="radio" class="mx-1" name="gender" id="other" value="Other"/><label>Other</label>
                          </div>

                          <div class="form-check form-switch mb-4">
                            <input class="form-check-input" type="checkbox" role="switch" id="student" name="student" {% if checked %} value="True" {% else %} value="False" {% endif %}/>
                            <label class="form-check-label" for="student">Student?</label>
                          </div>

                          <div class="text-center pt-1 mb-5 pb-1">
                            <button class="btn btn-primary btn-block btn-md w-100 fa-lg gradient-custom-2 mb-3" type="submit">Sign Up</button>
                          </div>

                          <div class="d-flex ms-center justify-content-center pb-4">
                            <p class="text-muted mb-0 me-2">Already have an account?</p>
                            <a type="button" class="btn btn-outline-secondary" href="{% url 'login' %}">Log in</a>
                          </div>

                        </form>

                      </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center gradient-custom-2 bg-secondary">
                      <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                        <h4 class="mb-4">We are more than just a canteen hall</h4>
                        <ul class="small mb-0">
                          <li class="mb-3">World-class best Chef's</li>
                          <li class="mb-3">Natural ingredients</li>
                          <li class="mb-3">Best quality products</li>
                          <li class="mb-3">Fresh vegetables & Meat</li>
                          <li class="mb-3">Ground beef & Low fat</li>
                          <li class="mb-3">Fastest service delivery</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
  </main>
  <!-- End Main Content -->

    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
    <script type="text/javascript">
      let pattern = /H(1[5-9]|2[0-2])()/i;
    </script>
</body>
</html>